* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.About {
    width: 100%;
    height: 91.2vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}

.About>h1 {
    margin-left: 20px;
    margin-top: 30px;
}